@media screen and (max-width:576px) {

    /* navbar style starts */
    .nav-wrapper {
        width: auto;
        padding: 52px 20px;
    }

    .title {
        font-size: 36px;
    }

    .nav-wrapper>.icon {
        display: block;
    }

    .nav-wrapper>.nav-container {
        display: none;
    }

    /* navbar style ends */

    /* banner style starts */
    .banner {
        flex-direction: column;
        padding: 0 20px 0;
        width:auto;
    }

    .banner-content {
        width: auto;
        margin-top: 0px;
    }

    .banner-title {
        width: 70%;
        font-size: 36px;
        font-weight: 900;
    }

    .banner-description {
        width: 90%;
    }

    .button {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .tag-container {
        width: auto;
        margin-top: 47px;
    }

    .tags {
        left: 10%;
    }

    .banner-image-container {
        width: 95%;
        margin: 0 auto;
    }

    .tag-2 {
        width: 153px;
        padding-top: 12px;
        left:50%;
        top: 35%;
    }

    /* banner style ends */

    /* body design starts here */
    /* motivation design starts here */
    .motivation{
        width: auto;
    }
    .motivation-card-wrapper{
        flex-direction: column;
    }
    .motivation-card-container{
        width: 50%;
        margin: 0 auto;
        padding: 5px;
    }
    .motivation-card-container>.img-container{
        margin: 0 auto 5%;
        padding: 5px;
    }

    /* motivation design ends here */
    
     /* information design starts here */
     .card-container{
        width: auto;
        flex-direction: column;
        padding:20px;
        margin: 2%;
     }
     .info-container{
        width: 80%;
        margin-bottom: 10%;
     }
     .info-image-container {
        width: 100%;
    }
     
     /* information design ends here */

     /* training design starts here */
     .training-section{
        width:auto;
     }
     .training{
        margin-top: 66px;
        padding: 20px;
        width: 90%;
     }
     .training-card-container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 127px;
        gap:0;
        margin: 0 auto;
     }
     /* [class ^= "img-"]{

     } */
     .img-1>img,.img-2>img{
        max-width: 100%;
        height: 100%;
        border-radius: 0px;
     }
     .img-3{
        display:none;
     }

     .training-card-container2{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 127px;
        gap:0;
        margin: 0 auto 10%;
     }
     .img-4>img,.img-5>img{
        max-width: 100%;
        height: 100%;
        border-radius: 0px;
     }
     .img-6{
        display:none;
     }
    
     /* training design ends here */

     /* BMI calculator design starts */
     .bmi-info{
        width:auto;
        padding: 3%;
        text-align: left;
        margin-bottom: 5%;
     }

     .chart-container{
        padding: 3%;
     }

     .bmi-calculator {
        width:95%;
        flex-direction: column;
        margin-bottom: 20%;
    }
    .bmi-form{
        margin-top: 10%;
        width:100%;
    }
    .bmi-form-info{
        width:90%;
    }
    .input-container{
        width: 100%;
        margin: 10% 0;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:3%;
    }
    input{
        width:60%;
    }
     /* BMI calculator design ends */

     /* team design starts  */
     .team{
        width: auto;
     }
     .team-wrapper{
        display:flex;
        flex-direction: column;
        width: auto;
        margin: 5%;
        border-radius: 4%;
        padding: 2%;
     }
     .team-img{
        width: 100%;
     }
     
     /* team design ends */
    /* body design ends here */

    /* footer design starts here  */
    .footer-wrapper{
        width: auto;
    }
    .footer-container{
        flex-direction: column;
    }
    .fitness{
        width:auto;
        margin: 10%;
    }
    .started-container{
        flex-direction: column;
        width:auto;
        margin:10%;
    }
    /* footer design ends here */
}

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-wrapper {
        width: auto;
        padding: 52px 30px;
    }

    .nav-container {
        width: 100%;
    }

    div {
        /* width: 20%; */
        padding: 2.3% 6%;
        text-align: center;
        border-radius: 46px;
    }

    .nav-container>div>li>a {
        font-size: 100%;
        font-weight: 400;
    }
}